/*
 * Copy Button
 */

+prefix-classes('mbcode-')

	.button-copy
		position absolute
		top 0
		right 0
		line-height 2.7
		padding 0 .8em
		text-transform uppercase
		font-size .75em
		border-radius 0
		font-weight 700
		font-family inherit
		transition opacity .1s $e_standard
		cursor pointer

		&
		&:focus
		&:hover
			border none
			background none
			box-shadow none
			outline none

		&:focus
		&:hover
			opacity .8

		&.just-copied
			text-transform none
			font-weight 400
			cursor default

			&:hover
				opacity 1
