/**
 * BlockContent - Copy Button & Label
 */

.wp-block-melonpan-block-code

	+prefix-classes('mbcode-')

		.label
		.button
			line-height 1.5
			min-height 2.7em
			display flex
			align-items center

		.label
			position absolute
			top 0
			left 0
			padding 0 .8em
			font-size .75em
			font-weight 700
			color inherit

		.button
			position absolute
			top 0
			right 0
			padding 0 .8em
			text-transform uppercase
			font-size .75em
			border-radius 0
			font-weight 700
			font-family inherit
			transition opacity .1s $e_standard
			cursor pointer

			&:focus
			&:hover
				opacity .8

			&
			&:focus
			&:hover
				background none
				box-shadow none
				outline none
				border none
				color inherit

		&.just-copied
			text-transform none
			font-weight 400
			cursor default

			&:hover
				opacity 1
