/**
 * Sidebar
 */

+prefix-classes('mbcode-')

	.control-button_group .button
		line-height 2.7
		padding 0 1em
		text-transform uppercase
		font-size .9em
		font-weight 500
		background rgba(0,0,0,0.03)
		cursor pointer

		&:hover
			background rgba(0,0,0,0.05)

		&:first-child
			border-right 1px solid rgba(0,0,0,.1)
			margin-right -1px

		&.is_active
		&.is_active:focus
			background rgba(0,0,0,0.15)

		#mbcode-controls &
		#mbcode-controls &:focus
			border none
			box-shadow none
			outline none

	#mbcode-controls
		margin -16px
		padding 16px 16px 85px
		position relative

		div.control-container .control-radio + .control-text
			margin-top 20px

		.no-is_active
			pointer-events none
			opacity .3

		&:before
			content ""
			position absolute
			background-color rgba(0,0,0,0.1)
			width 100%
			height 1px
			top 16px
			left 0

		.control-container
			position relative
			padding 25px 0
			width 100%
			margin 0
			color rgba(0,0,0,0.87)

			+ .control-container
				border-top 1px solid rgba(0,0,0,0.1)

			.control + .control
				margin-top 30px

#mbcode-controls

	.mbcode-control-react_select

		.mbcode__control
			border-radius 0
		.mbcode__group + .mbcode__group
			border-top 1px dotted rgba(0,0,0,.2)
		.mbcode__group-heading span + span
			margin-left 1em
		input
			box-shadow none

	.components-base-control__label
		font-weight 600
		margin-bottom 1.5em

	.components-base-control__help
		font-style normal
		margin 15px 0 0
		opacity 0.8
		white-space pre-wrap

	.components-base-control + .components-base-control
		margin 0

	.mbcode-control-range .components-base-control__label
		margin-bottom 1em

	.mbcode-control-toggle .components-base-control__label
		margin-bottom 1.5em

	.components-base-control__field
		margin-bottom 0
