/*
 * Root
 */

.wp-block-melonpan-block-code
	font-size 14px

	.editor-plain-text
		font-family Menlo, Consolas, monaco, monospace
		font-size 14px
		color rgba(0,0,0,0.8)
		padding .8em 1em
		border 1px solid rgba(0,0,0,0.1)

		&:focus
			box-shadow none

	pre
		cursor default
