/**
 * prism.js tomorrow night blue for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 */

$Background = #002451
$CurrentLine = #00346e
$Selection = #003f8e
$Foreground = #ffffff
$Comment = #7285b7
$Red = #ff9da4
$Orange = #ffc58f
$Yellow = #ffeead
$Green = #d1f1a9
$Aqua = #99ffff
$Blue = #bbdaff
$Purple = #ebbbff

.mbcode-theme-tomorrow_night_blue
	pre
		color $Red
		background $Background
		font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

		::-moz-selection
			background $Selection

		::selection
			background $Selection

	.token.plain-text
		color $Foreground

	.token.comment
	.token.block-comment
	.token.prolog
	.token.doctype
	.token.cdata
		color $Comment

	.token.property
	.token.tag
	.token.attr-name
	.token.namespace
	.token.deleted
	.token.variable
		color $Red

	.token.function-name
	.token.boolean
	.token.number
	.token.function
		color $Blue

	.token.inserted
	.token.class-name
		color $Yellow

	.token.delimiter
	.token.symbol
		color $Orange

	.token.selector
	.token.important
	.token.atrule
	.token.keyword
	.token.builtin
		color $Purple

	.token.string
	.token.char
	.token.attr-value
	.token.regex
		color $Green

	.token.operator
		color $Aqua

	.token.punctuation
	.token.constant
	.token.entity
	.token.url
		color $Foreground

	.token.important
	.token.bold
		font-weight bold

	.token.italic
		font-style italic

	.token.entity
		cursor help
