/**
 * prism.js tomorrow night for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 */

$Background = #1d1f21
$CurrentLine = #282a2e
$Selection = #373b41
$Foreground = #c5c8c6
$Comment = #969896
$Red = #cc6666
$Orange = #de935f
$Yellow = #f0c674
$Green = #b5bd68
$Aqua = #8abeb7
$Blue = #81a2be
$Purple = #b294bb


.mbcode-theme-tomorrow_night
	pre
		color $Red
		background $Background
		font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

		::-moz-selection
			background $Selection

		::selection
			background $Selection

	.token.plain-text
		color $Foreground

	.token.comment
	.token.block-comment
	.token.prolog
	.token.doctype
	.token.cdata
		color $Comment

	.token.property
	.token.tag
	.token.attr-name
	.token.namespace
	.token.deleted
	.token.variable
		color $Red

	.token.function-name
	.token.boolean
	.token.number
	.token.function
		color $Blue

	.token.inserted
	.token.class-name
		color $Yellow

	.token.delimiter
	.token.symbol
		color $Orange

	.token.selector
	.token.important
	.token.atrule
	.token.keyword
	.token.builtin
		color $Purple

	.token.string
	.token.char
	.token.attr-value
	.token.regex
		color $Green

	.token.operator
		color $Aqua

	.token.punctuation
	.token.constant
	.token.entity
	.token.url
		color $Foreground

	.token.important
	.token.bold
		font-weight bold

	.token.italic
		font-style italic

	.token.entity
		cursor help
