/**
 * Border
 */

+prefix-classes('mbcode-')

	for num in (1..15)

		.border_radius-{num} pre
			border-radius (num)px

	for num in (1..5)

		.border_width-{num}

			&.scheme-dark pre
				border (num)px solid rgba(255,255,255,.7)

			&.scheme-light pre
				border (num)px solid rgba(0,0,0,.7)
