/**
 * Padding
 */

+prefix-classes('mbcode-')

	for num in (5..100)

		if num % 5 == 0

			div.padding_tb-{num} code
				padding-top (num)px
				padding-bottom (num)px

			div.padding_lr-{num} code
				padding-left (num)px
				padding-right (num)px
